spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: admin
    password: password
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

logging:
  level:
    root: INFO
    com.sk.skala.springbootsample: DEBUG

developer:
  owner:
    name: dev-user
    role: developer
    level: student
  team:
    position: skala2
    detail: "class3"
